{% extends "FOSUserBundle::layout.html.twig" %}

{% block stylesheets %}
    <link href="/assets/css/signin.css" rel="stylesheet"/>
{% endblock %}

{% block fos_user_content %}
{% include "FOSUserBundle:Registration:register_content.html.twig" %}
{% endblock fos_user_content %}
