
<div class="container">
    <form action="{{ path('fos_user_registration_register') }}" {{ form_enctype(form) }} method="POST" class="form-signin">

        <h2 class="form-signin-heading">Please register</h2>

        {{ form_errors(form) }}

        {{form_widget(form._token)}}

        {{ form_label(form.username,'',{'class':"sr-only"}) }}
        {{ form_widget(form.username,{'attr':{"class":"form-control"}}) }}

        {{ form_label(form.email,'',{'class':"sr-only"}) }}
        {{ form_widget(form.email,{'attr':{"class":"form-control"}}) }}

        {% for p in form.plainPassword %}
        {{ form_label(p,'',{'class':"sr-only"}) }}
        {{ form_widget(p,{'attr':{"class":"form-control"}}) }}
        {% endfor %}

        <input type="submit" value="{{ 'registration.submit'|trans({}, 'FOSUserBundle') }}" class="btn btn-lg btn-primary btn-block"/>
    </form>
</div>
