{% extends "::base.html.twig" %}
{% block stylesheets %}
    <link href="/assets/css/cover.css" rel="stylesheet"/>
{% endblock %}

{% block body %}
    <div class="site-wrapper">

        <div class="site-wrapper-inner">

            <div class="cover-container">

                <div class="masthead clearfix">
                    <div class="inner">
                        <h3 class="masthead-brand">{% trans %} See More Music {% endtrans %}</h3>
                        <nav>
                            <ul class="nav masthead-nav">
                                <li class="active"><a href="#">{% trans %}Home{% endtrans %}</a></li>
                                <li><a href="{{ url("fos_user_registration_register") }}">{% trans %}Register{% endtrans %}</a></li>
                                <li><a href="{{ url("fos_user_security_login") }}">{% trans %}Login{% endtrans %}</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>

                <div class="inner cover">
                    <h1 class="cover-heading">{% trans %} See More Music {% endtrans %} - {% trans %} Portal {% endtrans %}</h1>
                    <p class="lead">{% trans %}Create and manage your gigs from here!{% endtrans %}</p>
                    <p class="lead">
                        <a href="{{ url('fos_user_security_login') }}" class="btn btn-lg btn-default">{% trans %}Login{% endtrans %}</a>
                    </p>
                </div>

                <div class="mastfoot">
                    <div class="inner">
                        <p>&copy; {% trans %}See More Music{% endtrans %} {{ "now" | date("Y") }}.</p>
                    </div>
                </div>

            </div>

        </div>

    </div>
{% endblock %}
